.main{
  padding-top: 20px;
}
.main li{
  display: inline-block;
  color: white;
  margin-right: 118px;
}
a{
  text-decoration: none;
}
.main li a{
  color: white;
}
.main li a:hover{
  color: #A0E01A;
}
header{
  display: flex;
  justify-content: center;
  height: 92px;
  background: black;
}
footer{
  background: black;

  bottom: 0;
  width: 100%;
  color: white;

}
.footer{
  display: flex;
  justify-content: space-around;
}
.footer_seccion{
  width: 213px;

}
.imgbackground{
  background-image: url("./images/hotel.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: -webkit-fill-available;

}
.portada{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width:1199px){

  /*/Aca para las laptops/*/

}
@media screen and (max-width:767px){
  /*/Aca para las tablets/*/
}
@media screen and (max-width: 480px) {
  /*/Aca para los moviles/*/

}
