.main{
  padding-top: 20px;
}
.main li{
  display: inline-block;
  color: white;
  margin-right: 118px;
}
a{
  text-decoration: none;
}
.main li a{
  color: white;
}
.main li a:hover{
  color: #A0E01A;
}
header{
  display: flex;
  justify-content: center;
  height: 92px;
  background: black;
}
footer{
  background: black;

  bottom: 0;
  width: 100%;
  color: white;

}
.footer{
  display: flex;
  justify-content: space-around;
}
.footer_seccion{
  width: 213px;

}
.imgbackground{
  background-image: url("./images/hotel.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: -webkit-fill-available;

}
.portada{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width:1199px){

  /*/Aca para las laptops/*/

}
@media screen and (max-width:767px){
  /*/Aca para las tablets/*/
}
@media screen and (max-width: 480px) {
  /*/Aca para los moviles/*/

}


/*/ Habitaciones/*/

body {
  margin: 0; }
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white; }

a {
  color: #428bca;
  text-decoration: none; }
  
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

@media (min-width: 992px) {
   .col-md-4, .col-md-12 {
    float: left; }


  .col-md-4 {
    width: 33.3333333333%; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a:hover {
  text-decoration: none; }

::selection {
  color: white;
  background: #b19261; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: white; }

::-webkit-scrollbar-thumb {
  background: #b19261; }

.property-container {
  margin-top: 30px; }
  .property-container .property-boxes {
    position: relative;
    padding: 0 10px;
    margin-bottom: 40px; }
    @media (max-width: 600px) {
      .property-container .property-boxes {
        width: 100%; } }
  
      .property-container .property-boxes .prp-img .price {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        background: rgba(177, 146, 97, 0.4);
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 1;
        line-height: 30px;
        text-align: center;
        font: 2.4em "Droid Sans", Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.4); }
        .property-container .property-boxes .prp-img .price span {
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          background: rgba(0, 0, 0, 0.4);
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translateX(-50%) translateY(-100%);
          -moz-transform: translateX(-50%) translateY(-100%);
          -ms-transform: translateX(-50%) translateY(-100%);
          -o-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
          padding: 5px 15px; }
      .property-container .property-boxes .prp-img img {
        max-width: 100%;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    .property-container .property-boxes .prp-detail {
      border-bottom: 1px solid #c2c2c2;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      position: relative; }
                                                                                                                                                                           
}
    /*/ Habitaciones/*/



    